@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #0a0a0a;
  color: white;
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}

* {
  box-sizing: border-box;
}
