@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system;
}

* {
  box-sizing: border-box;
}
